<!doctype html>
<html>
<head>
  <!-- Style and javascript links -->
</head>
<body>
<ul>
  <% @projects.each do |project| %>
    <li><%= project.id %> - <%= project.name %></li>
  <% end %>
</ul>
</body>
</html>
